/* Container principal da NavBar */
.navbar {
  width: 100%;
  height: 29px;
  padding: 48px 96px 0 0; /* Espaçamento ao redor */
  background-color: var(--white); /* Fundo branco */
}

/* Lista de abas */
.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 32px; /* Espaçamento entre os itens */
}

/* Item individual */
.navbar-item {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer; /* Cursor em formato de mão */
  position: relative; /* Necessário para o ::after */
  color: var(--dark-gray-2); /* Cor padrão */
  transition: color 0.3s ease;
}

/* Link dentro do item */
.navbar-link {
  text-decoration: none;
  color: var(--dark-gray-2);
  font-size: 16px;
  transition: color 0.3s ease;
}

/* Hover e item ativo */
.navbar-link:hover,
.navbar-item.active .navbar-link {
  color: var(--primary); /* Cor primária para hover e aba ativa */
}

/* Linha abaixo do item ativo */
.navbar-item.active::after,
.navbar-item:hover::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary); /* Linha com cor primária */
  transition: all 0.3s ease;
}
