@import url('../../variables.css');

/* Section.css */

Section{
  width: 100%;
  margin: 32px;
}

.section-container {
  margin: 30px ;
}

.section-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.section-header.center {
  justify-content: center;
}

.section-title {
  color: var(dark-gray-2);
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.section-link {
  color: var(--primary);
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
}

.section-link:hover {
  text-decoration: underline;
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
